/* Seteando css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
}

/* Encabezado */
header {
    /* height: 65px; */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 5px;
    box-sizing: border-box;
    border-bottom: 0.5px solid #efefef;
    background-color: #fff;
    z-index: 1;
    overflow: hidden;
}

/* Logo */
header figure {
    margin: 0 7px;
    width: 55px;
    height: 55px;
    padding: 2px;
    box-sizing: border-box;
    border: 1.5px solid #fff;
    border-radius: 100%;
    float: left;
}

header figure:active {
    border: 1.5px solid #b5b5b5;
}

header figure img {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 100%;
}

header figure:hover a img {
    background-color: #f0f0f0;
}
/* fin logo */

/* Barra search */
.search-bar {
    /* outline: 1px solid red; */
    width: 70%;
    border-radius: 5px;
    color: #555;
    font-weight: bold;
    background-color: #efefef;
    margin-left: 5px;
    margin-top: 7px;
    float: left;
}

.search-bar input {
    /* outline: 1px dashed green; */
    width: 70%;
    height: 40px;
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
    color: #555;
    background-color: #efefef;
    border: none;
    box-sizing: border-box;
    float: left;
}

.search-bar a .icon {
    margin: 0 10px;
    color: #b5b5b5;
    line-height: 38px;
    float: left;
    font-size: 20px;    
}

header .search-bar p {
    float: left;
    line-height: 40px;
    margin: 0 10px;
    color: #757575;
}
/* Fin barra search */

/* nav Menu */
header nav.menu {
    float: left;
    margin: 0 12px;
    padding: 0;
}

nav.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

nav.menu ul li {
    width: 55px;
    height: 55px;
    float: left;
    margin-right: 10px;
    text-align: center;
}

nav.menu ul li:last-child {
    margin-right: 0;
}

nav.menu ul li a {
    color: #b5b5b5;
    text-decoration: none;
}

nav.menu ul li a .icon {
    font-size: 25px;
    line-height: 55px;
}
/* Fin Barra Menu */

/* Contenido posts */
main {
    padding-top: 65px;
    margin: 0 auto;
}

#contenido {
    outline: 1px dashed blue;
    padding: 24px 60px;
    margin: 0 auto;
    column-count: 4;
    column-width: 260px;
    column-gap: 0px;
    column-fill: auto;
}

.box {
    /* outline: 1px solid red; */
    padding: 0 12px 28px 12px;
    box-sizing: border-box;
    break-inside: avoid;
    overflow: auto;
}

.box img {
    width: 100%;
    border-radius: 10px;
}

.box .icon {
    float: right;
    margin: 5px 0;
    color: #b5b5b5;    
}

.caption-text {
    margin: 0;
    padding: 0;
    color: #555;
    width: 80%;
    float: left;
}

.caption-text h4, .caption-text p {
    margin-top: 0;
    margin-bottom: 5px;
    color: #555;
    line-height: 20px;
}

.user {
    clear: both;
    margin: 0;
    overflow: auto;
}

.user .circle {
    display: block;
    width: 30px;
    height: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 100%;
    background-color: #66ffb8;
    float: left;
}

.user .name {
    margin: 5px 0;
    padding-left: 40px;
    font-size: 14px;
    line-height: 15px;
    /* float: left; */
}

.user p {
    margin: 0;
    padding-left: 40px;
    font-size: 14px;
    display: block;
}



